## ELT

In [26]:
# Import Dependencies
import pandas as pd

from sqlalchemy import create_engine
from sqlalchemy import inspect

In [27]:
# Make a reference to the solar_data_by_postcode.csv file path
csv_path = "Resources/Operating_Mines.csv"

# Import the solar_data_by_postcode.csv file as a DataFrame
minedex_elt_raw_df = pd.read_csv(csv_path, encoding="utf-8")
# Check the csv imported correctly
print(minedex_elt_raw_df.shape)
minedex_elt_raw_df.head()

(1329, 33)

,SITE_CODE,SHORT_TITLE,TITLE,SITE_TYPE,SUB_TYPE,STAGE,PROJ_CODE,PROJECT_TITLE,LONGITUDE,LATITUDE,...,MAP_SHEET_NO_100K,MAP_SHEET_NAME_100K,MAP_SHEET_NO_250K,MAP_SHEET_NAME_250K,LGA_NAME,DEVELOPMENT_REGION,DISTRICT_NO,DISTRICT_NAME,TECTONIC_UNIT,EXTRACT_DATE
0,S0000012,Baneygo,Baneygo,Mine,Openpit,Operating,J00009,Duketon / Regis Resources,122.312500,-27.963344,...,3342.0,DUKETON,SG51-14,DUKETON,"LAVERTON, SHIRE OF","GOLDFIELDS-ESPERANCE, Development Region",38.0,MT. MARGARET,Eastern Goldfields Superterrane,20221013
1,S0000030,Golden Crown,Beatons Creek - Golden Crown,Mine,Openpit,Operating,J04143,Beatons Creek JV,120.101598,-21.870333,...,2954.0,NULLAGINE,SF51-05,NULLAGINE,"EAST PILBARA, SHIRE OF","PILBARA, Development Region",46.0,NULLAGINE,Northeast Pilbara Sub-basin,20221013
2,S0000033,Big Bell UG,Big Bell Underground,Mine,Decline,Operating,J00017,Cue Gold - Central Murchison,117.655357,-27.318659,...,2443.0,CUE,SG50-15,CUE,"CUE, SHIRE OF","MID-WEST, Development Region",20.0,CUE,Youanmi Terrane,20221013
3,S0000045,Aladdin,Aladdin Open Pit,Mine,Openpit,Operating,J00017,Cue Gold - Central Murchison,118.347188,-26.869470,...,2544.0,MEEKATHARRA,SG50-11,BELELE,"MEEKATHARRA, SHIRE OF","MID-WEST, Development Region",51.0,MEEKATHARRA,Youanmi Terrane,20221013
4,S0000046,Bluebird,Bluebird - Bluebird South,Mine,Openpit,Operating,J00017,Cue Gold - Central Murchison,118.425102,-26.716249,...,2544.0,MEEKATHARRA,SG50-11,BELELE,"MEEKATHARRA, SHIRE OF","MID-WEST, Development Region",51.0,MEEKATHARRA,Youanmi Terrane,20221013

In [28]:
minedex_elt_raw_df.columns

Index(['SITE_CODE', 'SHORT_TITLE', 'TITLE', 'SITE_TYPE', 'SUB_TYPE', 'STAGE',
       'PROJ_CODE', 'PROJECT_TITLE', 'LONGITUDE', 'LATITUDE', 'EASTING',
       'NORTHING', 'MGA_ZONE', 'COMMODITIES', 'COMMODITY_GROUP_NAME',
       'TARGET_GROUP_NAME', 'MAP_LABEL_NAME', 'INCLUDE_COMMODITY_FLAG',
       'MAP_COMMODITIES', 'ACTIVE_FLAG', 'SYMBOL', 'MAP_SERIES',
       'CONFIDENTIALITY', 'MAP_SHEET_NO_100K', 'MAP_SHEET_NAME_100K',
       'MAP_SHEET_NO_250K', 'MAP_SHEET_NAME_250K', 'LGA_NAME',
       'DEVELOPMENT_REGION', 'DISTRICT_NO', 'DISTRICT_NAME', 'TECTONIC_UNIT',
       'EXTRACT_DATE'],
      dtype='object')

In [39]:
# Reorganising the columns using double brackets
mindex_filtered_columns_df = minedex_elt_raw_df[["TITLE","SUB_TYPE","STAGE","PROJECT_TITLE","LONGITUDE", "LATITUDE","COMMODITIES","COMMODITY_GROUP_NAME","TARGET_GROUP_NAME","LGA_NAME","DISTRICT_NAME","TECTONIC_UNIT"]]
mindex_filtered_columns_df.head()

,TITLE,SUB_TYPE,STAGE,PROJECT_TITLE,LONGITUDE,LATITUDE,COMMODITIES,COMMODITY_GROUP_NAME,TARGET_GROUP_NAME,LGA_NAME,DISTRICT_NAME,TECTONIC_UNIT
0,Baneygo,Openpit,Operating,Duketon / Regis Resources,122.312500,-27.963344,Au Ag,Precious metal,GOLD,"LAVERTON, SHIRE OF",MT. MARGARET,Eastern Goldfields Superterrane
1,Beatons Creek - Golden Crown,Openpit,Operating,Beatons Creek JV,120.101598,-21.870333,Au Ag As Cu Bi Sb,Precious metal,GOLD,"EAST PILBARA, SHIRE OF",NULLAGINE,Northeast Pilbara Sub-basin
2,Big Bell Underground,Decline,Operating,Cue Gold - Central Murchison,117.655357,-27.318659,Au Ag,Precious metal,GOLD,"CUE, SHIRE OF",CUE,Youanmi Terrane
3,Aladdin Open Pit,Openpit,Operating,Cue Gold - Central Murchison,118.347188,-26.869470,Au Ag,Precious metal,GOLD,"MEEKATHARRA, SHIRE OF",MEEKATHARRA,Youanmi Terrane
4,Bluebird - Bluebird South,Openpit,Operating,Cue Gold - Central Murchison,118.425102,-26.716249,Au Ag,Precious metal,GOLD,"MEEKATHARRA, SHIRE OF",MEEKATHARRA,Youanmi Terrane

In [40]:
print(mindex_filtered_columns_df.shape)
print("------------------------------------------------------------------")
print(mindex_filtered_columns_df.columns)
print("------------------------------------------------------------------")
print(mindex_filtered_columns_df.dtypes)

(1329, 12)
------------------------------------------------------------------
Index(['TITLE', 'SUB_TYPE', 'STAGE', 'PROJECT_TITLE', 'LONGITUDE', 'LATITUDE',
       'COMMODITIES', 'COMMODITY_GROUP_NAME', 'TARGET_GROUP_NAME', 'LGA_NAME',
       'DISTRICT_NAME', 'TECTONIC_UNIT'],
      dtype='object')
------------------------------------------------------------------
TITLE                    object
SUB_TYPE                 object
STAGE                    object
PROJECT_TITLE            object
LONGITUDE               float64
LATITUDE                float64
COMMODITIES              object
COMMODITY_GROUP_NAME     object
TARGET_GROUP_NAME        object
LGA_NAME                 object
DISTRICT_NAME            object
TECTONIC_UNIT            object
dtype: object

In [54]:
# Filter by relivant commodities
mindex_filtered_commodities_df = mindex_filtered_columns_df[(mindex_filtered_columns_df["TARGET_GROUP_NAME"] == "GOLD") |
                            (mindex_filtered_columns_df["TARGET_GROUP_NAME"] == "NICKEL") ]

print(mindex_filtered_commodities_df.nunique())
print(mindex_filtered_commodities_df.shape)

TITLE                   300
SUB_TYPE                  6
STAGE                     2
PROJECT_TITLE           101
LONGITUDE               296
LATITUDE                297
COMMODITIES              20
COMMODITY_GROUP_NAME      2
TARGET_GROUP_NAME         2
LGA_NAME                 23
DISTRICT_NAME            32
TECTONIC_UNIT            20
dtype: int64
(300, 12)

In [ ]:
# Push cleaned DataFrame to a new CSV file
mindex_filtered_df.to_csv("Output/Operating_Mines_Cleaned.csv",
                  encoding="utf-8", index=False, header=True)

In [ ]:
# Push to the DB
import config_dm

protocol = 'postgresql'
username = 'postgres'
password = config_dm.postgres_key
host = 'localhost'
port = 5432
database_name = 'project3_db'
rds_connection_string = f'{protocol}://{username}:{password}@{host}:{port}/{database_name}'
engine = create_engine(rds_connection_string)
insp = inspect(engine)

In [ ]:
insp.get_table_names()

In [ ]:
mindex_filtered_df.to_sql(name='mindex_filtered_df', con=engine, if_exists='append', index=False)