### ELT - Operating Mines Dataset

In [21]:
# Import Dependencies
import pandas as pd

from sqlalchemy import create_engine
from sqlalchemy import inspect

In [22]:
# Make a reference to the solar_data_by_postcode.csv file path
csv_path = "Resources/Operating_Mines.csv"

# Import the solar_data_by_postcode.csv file as a DataFrame
minedex_elt_raw_df = pd.read_csv(csv_path, encoding="utf-8")
# Check the csv imported correctly
print(minedex_elt_raw_df.shape)
minedex_elt_raw_df.head()

(1329, 33)

,SITE_CODE,SHORT_TITLE,TITLE,SITE_TYPE,SUB_TYPE,STAGE,PROJ_CODE,PROJECT_TITLE,LONGITUDE,LATITUDE,...,MAP_SHEET_NO_100K,MAP_SHEET_NAME_100K,MAP_SHEET_NO_250K,MAP_SHEET_NAME_250K,LGA_NAME,DEVELOPMENT_REGION,DISTRICT_NO,DISTRICT_NAME,TECTONIC_UNIT,EXTRACT_DATE
0,S0000012,Baneygo,Baneygo,Mine,Openpit,Operating,J00009,Duketon / Regis Resources,122.312500,-27.963344,...,3342.0,DUKETON,SG51-14,DUKETON,"LAVERTON, SHIRE OF","GOLDFIELDS-ESPERANCE, Development Region",38.0,MT. MARGARET,Eastern Goldfields Superterrane,20221013
1,S0000030,Golden Crown,Beatons Creek - Golden Crown,Mine,Openpit,Operating,J04143,Beatons Creek JV,120.101598,-21.870333,...,2954.0,NULLAGINE,SF51-05,NULLAGINE,"EAST PILBARA, SHIRE OF","PILBARA, Development Region",46.0,NULLAGINE,Northeast Pilbara Sub-basin,20221013
2,S0000033,Big Bell UG,Big Bell Underground,Mine,Decline,Operating,J00017,Cue Gold - Central Murchison,117.655357,-27.318659,...,2443.0,CUE,SG50-15,CUE,"CUE, SHIRE OF","MID-WEST, Development Region",20.0,CUE,Youanmi Terrane,20221013
3,S0000045,Aladdin,Aladdin Open Pit,Mine,Openpit,Operating,J00017,Cue Gold - Central Murchison,118.347188,-26.869470,...,2544.0,MEEKATHARRA,SG50-11,BELELE,"MEEKATHARRA, SHIRE OF","MID-WEST, Development Region",51.0,MEEKATHARRA,Youanmi Terrane,20221013
4,S0000046,Bluebird,Bluebird - Bluebird South,Mine,Openpit,Operating,J00017,Cue Gold - Central Murchison,118.425102,-26.716249,...,2544.0,MEEKATHARRA,SG50-11,BELELE,"MEEKATHARRA, SHIRE OF","MID-WEST, Development Region",51.0,MEEKATHARRA,Youanmi Terrane,20221013

In [23]:
minedex_elt_raw_df.columns

Index(['SITE_CODE', 'SHORT_TITLE', 'TITLE', 'SITE_TYPE', 'SUB_TYPE', 'STAGE',
       'PROJ_CODE', 'PROJECT_TITLE', 'LONGITUDE', 'LATITUDE', 'EASTING',
       'NORTHING', 'MGA_ZONE', 'COMMODITIES', 'COMMODITY_GROUP_NAME',
       'TARGET_GROUP_NAME', 'MAP_LABEL_NAME', 'INCLUDE_COMMODITY_FLAG',
       'MAP_COMMODITIES', 'ACTIVE_FLAG', 'SYMBOL', 'MAP_SERIES',
       'CONFIDENTIALITY', 'MAP_SHEET_NO_100K', 'MAP_SHEET_NAME_100K',
       'MAP_SHEET_NO_250K', 'MAP_SHEET_NAME_250K', 'LGA_NAME',
       'DEVELOPMENT_REGION', 'DISTRICT_NO', 'DISTRICT_NAME', 'TECTONIC_UNIT',
       'EXTRACT_DATE'],
      dtype='object')

In [24]:
# Reorganising the columns using double brackets
mindex_filtered_columns_df = minedex_elt_raw_df[["SITE_CODE", "PROJ_CODE", "TITLE","SUB_TYPE","STAGE","PROJECT_TITLE","LONGITUDE", "LATITUDE","COMMODITIES","COMMODITY_GROUP_NAME","TARGET_GROUP_NAME","LGA_NAME","DISTRICT_NAME","TECTONIC_UNIT"]]
mindex_filtered_columns_df.head()

,SITE_CODE,PROJ_CODE,TITLE,SUB_TYPE,STAGE,PROJECT_TITLE,LONGITUDE,LATITUDE,COMMODITIES,COMMODITY_GROUP_NAME,TARGET_GROUP_NAME,LGA_NAME,DISTRICT_NAME,TECTONIC_UNIT
0,S0000012,J00009,Baneygo,Openpit,Operating,Duketon / Regis Resources,122.312500,-27.963344,Au Ag,Precious metal,GOLD,"LAVERTON, SHIRE OF",MT. MARGARET,Eastern Goldfields Superterrane
1,S0000030,J04143,Beatons Creek - Golden Crown,Openpit,Operating,Beatons Creek JV,120.101598,-21.870333,Au Ag As Cu Bi Sb,Precious metal,GOLD,"EAST PILBARA, SHIRE OF",NULLAGINE,Northeast Pilbara Sub-basin
2,S0000033,J00017,Big Bell Underground,Decline,Operating,Cue Gold - Central Murchison,117.655357,-27.318659,Au Ag,Precious metal,GOLD,"CUE, SHIRE OF",CUE,Youanmi Terrane
3,S0000045,J00017,Aladdin Open Pit,Openpit,Operating,Cue Gold - Central Murchison,118.347188,-26.869470,Au Ag,Precious metal,GOLD,"MEEKATHARRA, SHIRE OF",MEEKATHARRA,Youanmi Terrane
4,S0000046,J00017,Bluebird - Bluebird South,Openpit,Operating,Cue Gold - Central Murchison,118.425102,-26.716249,Au Ag,Precious metal,GOLD,"MEEKATHARRA, SHIRE OF",MEEKATHARRA,Youanmi Terrane

In [25]:
print("------------------------------------------------------------------")
print(mindex_filtered_columns_df.shape)
print("------------------------------------------------------------------")
print(mindex_filtered_columns_df.columns)
print("------------------------------------------------------------------")
print(mindex_filtered_columns_df.dtypes)
print("------------------------------------------------------------------")

------------------------------------------------------------------
(1329, 14)
------------------------------------------------------------------
Index(['SITE_CODE', 'PROJ_CODE', 'TITLE', 'SUB_TYPE', 'STAGE', 'PROJECT_TITLE',
       'LONGITUDE', 'LATITUDE', 'COMMODITIES', 'COMMODITY_GROUP_NAME',
       'TARGET_GROUP_NAME', 'LGA_NAME', 'DISTRICT_NAME', 'TECTONIC_UNIT'],
      dtype='object')
------------------------------------------------------------------
SITE_CODE                object
PROJ_CODE                object
TITLE                    object
SUB_TYPE                 object
STAGE                    object
PROJECT_TITLE            object
LONGITUDE               float64
LATITUDE                float64
COMMODITIES              object
COMMODITY_GROUP_NAME     object
TARGET_GROUP_NAME        object
LGA_NAME                 object
DISTRICT_NAME            object
TECTONIC_UNIT            object
dtype: object
------------------------------------------------------------------

In [26]:
# Filter by relivant commodities
mindex_filtered_commodities_df = mindex_filtered_columns_df[(mindex_filtered_columns_df["TARGET_GROUP_NAME"] == "GOLD") |
                            (mindex_filtered_columns_df["TARGET_GROUP_NAME"] == "SILVER") |
                            (mindex_filtered_columns_df["TARGET_GROUP_NAME"] == "COPPER - LEAD - ZINC") |
                            (mindex_filtered_columns_df["TARGET_GROUP_NAME"] == "IRON ORE") |
                            (mindex_filtered_columns_df["TARGET_GROUP_NAME"] == "COPPER") |
                            (mindex_filtered_columns_df["TARGET_GROUP_NAME"] == "LEAD") |
                            (mindex_filtered_columns_df["TARGET_GROUP_NAME"] == "ZINC") |
                            (mindex_filtered_columns_df["TARGET_GROUP_NAME"] == "NICKEL") |
                            (mindex_filtered_columns_df["TARGET_GROUP_NAME"] == "MANGANESE ORE") |
                            (mindex_filtered_columns_df["TARGET_GROUP_NAME"] == "TIN - TANTALUM - LITHIUM")

                            ]


print(mindex_filtered_commodities_df.nunique())
print(mindex_filtered_commodities_df.shape)

SITE_CODE               526
PROJ_CODE               154
TITLE                   526
SUB_TYPE                  6
STAGE                     2
PROJECT_TITLE           154
LONGITUDE               522
LATITUDE                523
COMMODITIES              52
COMMODITY_GROUP_NAME      5
TARGET_GROUP_NAME         6
LGA_NAME                 28
DISTRICT_NAME            36
TECTONIC_UNIT            33
dtype: int64
(526, 14)

### Resources/Volume.csv ETL

In [27]:
# Make a reference to the solar_data_by_postcode.csv file path

estimates_csv_path = "Resources/Resource_Estimates_by_Project.csv"

# Import the solar_data_by_postcode.csv file as a DataFrame


minedex_vol_raw_df = pd.read_csv(estimates_csv_path, encoding="utf-8")



# Check the csv imported correctly
print(minedex_vol_raw_df.shape)
minedex_vol_raw_df.head()

(2319, 31)

,PROJ_CODE,PROJ_NAME,PROJ_SHORT,PRI_P_COM,LOC_SITE,LATITUDE,LONGITUDE,TECT_UNIT,EST_COM,EST_COM_AB,...,RV_QTY_G,RV_QTY_GU,RV_CON,RV_CON_U,ARV_CON,ARV_CON_U,POINT_SIZE,POINT_UNIT,PROJ_URL,EXTRACT_DA
0,J05288,8 Mile Dam,8 Mile Dam,Gold,S0236141,-30.645301,121.462207,Eastern Goldfields Superterrane,Gold,Au,...,NaN,NaN,NaN,NaN,NaN,NaN,9763.969632,kilogram,https://minedex.dmirs.wa.gov.au/Web/projects/d...,19/10/2022
1,J01022,Abednego West,Abednego West,Gold,S0002219,-28.833361,121.773903,Eastern Goldfields Superterrane,Gold,Au,...,NaN,NaN,NaN,NaN,NaN,NaN,147.000000,kilogram,https://minedex.dmirs.wa.gov.au/Web/projects/d...,19/10/2022
2,J00545,Abra - Mulgul,Abra - Mulgul,Lead,S0001538,-24.638213,118.585512,Edmund Basin,Lead,Pb,...,8.800000,percent,906.4000,kilotonne,NaN,NaN,3382.000000,kilotonne,https://minedex.dmirs.wa.gov.au/Web/projects/d...,19/10/2022
3,J00545,Abra - Mulgul,Abra - Mulgul,Lead,S0001538,-24.638213,118.585512,Edmund Basin,Silver,Ag,...,24.000000,gram/tonne,247200.0000,kilogram,7947664.658,ounce (troy),797000.000000,kilogram,https://minedex.dmirs.wa.gov.au/Web/projects/d...,19/10/2022
4,J03432,Abydos,Abydos,Iron,S0023261,-21.143820,119.105797,Gorge Creek Basin,Iron,Fe,...,56.869231,percent,2.2179,million tonnes,NaN,NaN,11.050400,million tonnes,https://minedex.dmirs.wa.gov.au/Web/projects/d...,19/10/2022

In [28]:
minedex_vol_raw_df.columns

Index(['PROJ_CODE', 'PROJ_NAME', 'PROJ_SHORT', 'PRI_P_COM', 'LOC_SITE',
       'LATITUDE', 'LONGITUDE', 'TECT_UNIT', 'EST_COM', 'EST_COM_AB',
       'EST_COM_P', 'RES_QTY', 'RES_QTY_U', 'RES_QTY_G', 'RES_QTY_GU',
       'RES_CON', 'RES_CON_U', 'ARES_CON', 'ARES_CON_U', 'RV_QTY', 'RV_QTY_U',
       'RV_QTY_G', 'RV_QTY_GU', 'RV_CON', 'RV_CON_U', 'ARV_CON', 'ARV_CON_U',
       'POINT_SIZE', 'POINT_UNIT', 'PROJ_URL', 'EXTRACT_DA'],
      dtype='object')

In [29]:
# Retaining rows that fit condition == yes in column 'EST_COM_P', meaning that the information retained is 
# from the main resource the mine aims to collect. 

minedex_vol_raw_df = minedex_vol_raw_df.loc[(minedex_vol_raw_df['EST_COM_P'] == 'Yes')]

# Selecting desired columns 
volume_mindex_filtered_columns_df = minedex_vol_raw_df[["PROJ_CODE","PROJ_NAME", "PRI_P_COM", 'RES_QTY', 'RES_QTY_U',
       'RES_CON', 'RES_CON_U', 'ARES_CON', 'ARES_CON_U']]

print(volume_mindex_filtered_columns_df.shape)
volume_mindex_filtered_columns_df.head()

(834, 9)

,PROJ_CODE,PROJ_NAME,PRI_P_COM,RES_QTY,RES_QTY_U,RES_CON,RES_CON_U,ARES_CON,ARES_CON_U
0,J05288,8 Mile Dam,Gold,7.014346,million tonnes,9763.969632,kilogram,313918.917400,ounce (troy)
1,J01022,Abednego West,Gold,0.070000,million tonnes,147.000000,kilogram,4726.159809,ounce (troy)
2,J00545,Abra - Mulgul,Lead,34.400000,million tonnes,2475.600000,kilotonne,NaN,NaN
4,J03432,Abydos,Iron,15.500000,million tonnes,8.832500,million tonnes,NaN,NaN
8,J00744,Admiral Bay,Zinc,170.000000,million tonnes,6970.000000,kilotonne,NaN,NaN

In [30]:
# Filter by relevant commodities
volume_filtered_commodities_df = volume_mindex_filtered_columns_df[(volume_mindex_filtered_columns_df["PRI_P_COM"] == "Gold") |
                            (volume_mindex_filtered_columns_df["PRI_P_COM"] == "Silver") |        
                            (volume_mindex_filtered_columns_df["PRI_P_COM"] == "Iron") |
                            (volume_mindex_filtered_columns_df["PRI_P_COM"] == "Copper") |
                            (volume_mindex_filtered_columns_df["PRI_P_COM"] == "Lead") |
                            (volume_mindex_filtered_columns_df["PRI_P_COM"] == "Zinc") |
                            (volume_mindex_filtered_columns_df["PRI_P_COM"] == "Nickel") |
                            (volume_mindex_filtered_columns_df["PRI_P_COM"] == "Manganese") |
                            (volume_mindex_filtered_columns_df["PRI_P_COM"] == "Lithium")
                            ]


print(volume_filtered_commodities_df.nunique())
print(volume_filtered_commodities_df.shape)

PROJ_CODE     627
PROJ_NAME     627
PRI_P_COM       8
RES_QTY       577
RES_QTY_U       1
RES_CON       610
RES_CON_U       3
ARES_CON      359
ARES_CON_U      1
dtype: int64
(627, 9)

In [31]:
volume_filtered_commodities_df.head()

,PROJ_CODE,PROJ_NAME,PRI_P_COM,RES_QTY,RES_QTY_U,RES_CON,RES_CON_U,ARES_CON,ARES_CON_U
0,J05288,8 Mile Dam,Gold,7.014346,million tonnes,9763.969632,kilogram,313918.917400,ounce (troy)
1,J01022,Abednego West,Gold,0.070000,million tonnes,147.000000,kilogram,4726.159809,ounce (troy)
2,J00545,Abra - Mulgul,Lead,34.400000,million tonnes,2475.600000,kilotonne,NaN,NaN
4,J03432,Abydos,Iron,15.500000,million tonnes,8.832500,million tonnes,NaN,NaN
8,J00744,Admiral Bay,Zinc,170.000000,million tonnes,6970.000000,kilotonne,NaN,NaN

In [32]:
# check wether columns have unique measuring untis. 
print(volume_filtered_commodities_df.RES_QTY_U.unique())
print('------------------------------------------')
print(volume_filtered_commodities_df.RES_CON_U.unique())  # conversion will need to take place. 
print('------------------------------------------')
print(volume_filtered_commodities_df.ARES_CON_U.unique())

['million tonnes' nan]
------------------------------------------
['kilogram' 'kilotonne' 'million tonnes' nan]
------------------------------------------
['ounce (troy)' nan]

In [33]:
# check rows with nan values in 'RES_QTY' column.
volume_filtered_commodities_df[volume_filtered_commodities_df['RES_QTY'].isna()]

,PROJ_CODE,PROJ_NAME,PRI_P_COM,RES_QTY,RES_QTY_U,RES_CON,RES_CON_U,ARES_CON,ARES_CON_U
95,J01716,Badja,Gold,NaN,NaN,NaN,NaN,NaN,NaN
196,J03932,Brockman 2 - Nammuldi - Silvergrass - Homestea...,Iron,NaN,NaN,NaN,NaN,NaN,NaN
235,J01026,Bullfinch Tailings,Gold,NaN,NaN,NaN,NaN,NaN,NaN
363,J00481,Channar,Iron,NaN,NaN,NaN,NaN,NaN,NaN
444,J01557,Cuddingwarra - Morning Star,Gold,NaN,NaN,NaN,NaN,NaN,NaN
1165,J03929,Marandoo / Rio Tinto,Iron,NaN,NaN,NaN,NaN,NaN,NaN
1267,J01599,Mountain Devil - Dulcie,Gold,NaN,NaN,NaN,NaN,NaN,NaN
1588,J03930,Paraburdoo / Rio Tinto,Iron,NaN,NaN,NaN,NaN,NaN,NaN
1781,J01653,Ronstan,Gold,NaN,NaN,NaN,NaN,NaN,NaN
1989,J03928,Tom Price / Rio Tinto,Iron,NaN,NaN,NaN,NaN,NaN,NaN
1997,J00691,Turee Syncline Iron Ore,Iron,NaN,NaN,NaN,NaN,NaN,NaN

In [34]:
# drop duplicates
volume_filtered_commodities_df.drop_duplicates(inplace = True)

# drop rows with nan values in 'RES_QTY' columns
volume_filtered_commodities_df.dropna(subset=['RES_QTY'], inplace= True)

volume_filtered_commodities_df

c:\Users\dalem\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

c:\Users\dalem\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

,PROJ_CODE,PROJ_NAME,PRI_P_COM,RES_QTY,RES_QTY_U,RES_CON,RES_CON_U,ARES_CON,ARES_CON_U
0,J05288,8 Mile Dam,Gold,7.014346,million tonnes,9763.969632,kilogram,313918.917400,ounce (troy)
1,J01022,Abednego West,Gold,0.070000,million tonnes,147.000000,kilogram,4726.159809,ounce (troy)
2,J00545,Abra - Mulgul,Lead,34.400000,million tonnes,2475.600000,kilotonne,NaN,NaN
4,J03432,Abydos,Iron,15.500000,million tonnes,8.832500,million tonnes,NaN,NaN
8,J00744,Admiral Bay,Zinc,170.000000,million tonnes,6970.000000,kilotonne,NaN,NaN
...,...,...,...,...,...,...,...,...,...
2313,J02775,Yundamindera / Saracen,Gold,2.428000,million tonnes,3826.200000,kilogram,123015.188200,ounce (troy)
2314,J00371,Yundamindra / Nex,Gold,2.451000,million tonnes,4293.700000,kilogram,138045.662400,ounce (troy)
2316,J04000,Zanthus Magnetite,Iron,103.600000,million tonnes,27.454000,million tonnes,NaN,NaN
2317,J01082,Zelica - Eucalyptus,Gold,1.537800,million tonnes,3682.560000,kilogram,118397.054900,ounce (troy)
2318,J03563,Zuleika North - Ora Banda / Evolution,Gold,5.770000,million tonnes,11254.600000,kilogram,361843.797200,ounce (troy)

In [35]:
# rename columns for better context
volume_filtered_commodities_df =  volume_filtered_commodities_df.rename(columns={'RES_QTY_U': 'TOT_MIN_RES_QUANTITY', 
                                    'ARES_CON':'RES_ALT_CONT_COM','RES_CON_U': 'TOT_MIN_RES_CONT_COM_UNIT', 'ARES_CON_U': 'TOT_MIN_RES_ALT_CONT_COM_UNIT'})

volume_filtered_commodities_df

,PROJ_CODE,PROJ_NAME,PRI_P_COM,RES_QTY,TOT_MIN_RES_QUANTITY,RES_CON,TOT_MIN_RES_CONT_COM_UNIT,RES_ALT_CONT_COM,TOT_MIN_RES_ALT_CONT_COM_UNIT
0,J05288,8 Mile Dam,Gold,7.014346,million tonnes,9763.969632,kilogram,313918.917400,ounce (troy)
1,J01022,Abednego West,Gold,0.070000,million tonnes,147.000000,kilogram,4726.159809,ounce (troy)
2,J00545,Abra - Mulgul,Lead,34.400000,million tonnes,2475.600000,kilotonne,NaN,NaN
4,J03432,Abydos,Iron,15.500000,million tonnes,8.832500,million tonnes,NaN,NaN
8,J00744,Admiral Bay,Zinc,170.000000,million tonnes,6970.000000,kilotonne,NaN,NaN
...,...,...,...,...,...,...,...,...,...
2313,J02775,Yundamindera / Saracen,Gold,2.428000,million tonnes,3826.200000,kilogram,123015.188200,ounce (troy)
2314,J00371,Yundamindra / Nex,Gold,2.451000,million tonnes,4293.700000,kilogram,138045.662400,ounce (troy)
2316,J04000,Zanthus Magnetite,Iron,103.600000,million tonnes,27.454000,million tonnes,NaN,NaN
2317,J01082,Zelica - Eucalyptus,Gold,1.537800,million tonnes,3682.560000,kilogram,118397.054900,ounce (troy)
2318,J03563,Zuleika North - Ora Banda / Evolution,Gold,5.770000,million tonnes,11254.600000,kilogram,361843.797200,ounce (troy)

In [36]:
# convert columns 'TOT_MIN_RES_CONT_COM_UNIT' & 'RES_CON' to a singular measuring unit.
if volume_filtered_commodities_df['TOT_MIN_RES_CONT_COM_UNIT'].str == 'kilogram':
    volume_filtered_commodities_df['RES_CON'] = volume_filtered_commodities_df['RES_CON']*0.0000001
elif volume_filtered_commodities_df['TOT_MIN_RES_CONT_COM_UNIT'].str == 'million tonnes': 
    volume_filtered_commodities_df['RES_CON'] = volume_filtered_commodities_df['RES_CON']*1000
    

volume_filtered_commodities_df['TOT_MIN_RES_CONT_COM_UNIT'] = volume_filtered_commodities_df['TOT_MIN_RES_CONT_COM_UNIT'].str.replace("kilogram","kilotonne")
volume_filtered_commodities_df['TOT_MIN_RES_CONT_COM_UNIT'] = volume_filtered_commodities_df['TOT_MIN_RES_CONT_COM_UNIT'].str.replace("million tonnes","kilotonne")

volume_filtered_commodities_df

,PROJ_CODE,PROJ_NAME,PRI_P_COM,RES_QTY,TOT_MIN_RES_QUANTITY,RES_CON,TOT_MIN_RES_CONT_COM_UNIT,RES_ALT_CONT_COM,TOT_MIN_RES_ALT_CONT_COM_UNIT
0,J05288,8 Mile Dam,Gold,7.014346,million tonnes,9763.969632,kilotonne,313918.917400,ounce (troy)
1,J01022,Abednego West,Gold,0.070000,million tonnes,147.000000,kilotonne,4726.159809,ounce (troy)
2,J00545,Abra - Mulgul,Lead,34.400000,million tonnes,2475.600000,kilotonne,NaN,NaN
4,J03432,Abydos,Iron,15.500000,million tonnes,8.832500,kilotonne,NaN,NaN
8,J00744,Admiral Bay,Zinc,170.000000,million tonnes,6970.000000,kilotonne,NaN,NaN
...,...,...,...,...,...,...,...,...,...
2313,J02775,Yundamindera / Saracen,Gold,2.428000,million tonnes,3826.200000,kilotonne,123015.188200,ounce (troy)
2314,J00371,Yundamindra / Nex,Gold,2.451000,million tonnes,4293.700000,kilotonne,138045.662400,ounce (troy)
2316,J04000,Zanthus Magnetite,Iron,103.600000,million tonnes,27.454000,kilotonne,NaN,NaN
2317,J01082,Zelica - Eucalyptus,Gold,1.537800,million tonnes,3682.560000,kilotonne,118397.054900,ounce (troy)
2318,J03563,Zuleika North - Ora Banda / Evolution,Gold,5.770000,million tonnes,11254.600000,kilotonne,361843.797200,ounce (troy)

In [37]:
# Push cleaned DataFrame to a new CSV file
mindex_filtered_commodities_df.to_csv("Output/Operating_Mines_Cleaned.csv",
                  encoding="utf-8", index=False, header=True)

volume_filtered_commodities_df.to_csv("Output/Volume_Operating_Mines_Cleaned.csv",
                  encoding="utf-8", index=False, header=True)

In [38]:
# Push to the postgres DB
import config


protocol = 'postgresql'
username = 'postgres'
# password = config_dm.postgres_key
password = config.password
host = 'localhost'
port = 5432
database_name = 'project3_db'
rds_connection_string = f'{protocol}://{username}:{password}@{host}:{port}/{database_name}'
engine = create_engine(rds_connection_string)
insp = inspect(engine)

In [39]:
# Inspect the DB tables
insp.get_table_names()

['volume_mindex_filtered_commodities_df', 'mindex_filtered_commodities_df']

In [40]:
# Push the dataframe to the DB
# mindex_filtered_commodities_df.to_sql(name='mindex_filtered_commodities_df', con=engine, if_exists='append', index=False)

volume_filtered_commodities_df.to_sql(name='volume_mindex_filtered_commodities_df', con=engine, if_exists='append', index=False)

mindex_filtered_commodities_df.to_sql(name='mindex_filtered_commodities_df', con=engine, if_exists='append', index=False)