In [1]:
import requests
import os
from splinter import Browser
import pandas as pd
from webdriver_manager.chrome import ChromeDriverManager
from bs4 import BeautifulSoup

In [2]:
executable_path = {'executable_path': ChromeDriverManager().install()}
browser = Browser('chrome', **executable_path, headless=False)

In [3]:
url = 'https://oec.world/en/profile/bilateral-product/gold/reporter/aus?latestTrendsViewSelector=latestTrendsViewOption0'
browser.visit(url)
html = browser.html
soup = BeautifulSoup(html, "html.parser")
country_list = []
text_area = soup.find("p", class_="cp-section-paragraph cp-multi-column-section-paragraph")
paragragh =  text_area.text
links = text_area.find_all("a")
for link in links:
    country_list.append(link.text)
browser.quit()
country_list1 = country_list[-5:]
data = []
for ix, char in enumerate(paragragh):
    if char == '(':
        data.append(paragragh[ix+2 : ix+6])
gold_df = pd.DataFrame({"Country":country_list1, "Export value $USB": data})
gold_df

            Country Export value $USB
0   United Kingdom               8.25
1    United States               2.75
2      Switzerland               1.63
3        Hong Kong               1.29
4            China               1.13

In [4]:
gold_df.to_csv("Output/gold.csv", index=False, header = True)

In [5]:
executable_path = {'executable_path': ChromeDriverManager().install()}
browser = Browser('chrome', **executable_path, headless=False)

In [6]:
silver_url = 'https://oec.world/en/profile/bilateral-product/silver/reporter/aus'
browser.visit(silver_url)
html = browser.html
soup = BeautifulSoup(html, "html.parser")
country_list = []
text_area = soup.find("p", class_="cp-section-paragraph cp-multi-column-section-paragraph")
paragragh =  text_area.text
links = text_area.find_all("a")
for link in links:
    country_list.append(link.text)
browser.quit()
country_list1 = country_list[-5:]
data = []
for ix, char in enumerate(paragragh):
    if char == '(':
        data.append(paragragh[ix+2 : ix+6])
silver_df = pd.DataFrame({"Country":country_list1, "Export value $USM": data})
silver_df

         Country Export value $USM
0         India               64.6
1     Hong Kong               28.2
2   New Zealand               28.2
3   Switzerland               11.2
4        Canada               8.44

In [7]:
silver_df.to_csv("Output/silver.csv", index=False, header = True)

In [8]:
executable_path = {'executable_path': ChromeDriverManager().install()}
browser = Browser('chrome', **executable_path, headless=False)

In [9]:
iron_url = 'https://oec.world/en/profile/bilateral-product/iron-ore/reporter/aus'
browser.visit(iron_url)
html = browser.html
soup = BeautifulSoup(html, "html.parser")
country_list = []
text_area = soup.find("p", class_="cp-section-paragraph cp-multi-column-section-paragraph")
paragragh =  text_area.text
links = text_area.find_all("a")
for link in links:
    country_list.append(link.text)
browser.quit()
country_list1 = country_list[-5:]
data = []
for ix, char in enumerate(paragragh):
    if char == '(':
        data.append(paragragh[ix+2 : ix+6])
iron_df = pd.DataFrame({"Country":country_list1, "Export value $USB": data})
iron_df

         Country Export value $USB
0         China               63.9
1         Japan               4.43
2   South Korea               4.35
3     Singapore               2.13
4     Hong Kong               1.94

In [10]:
iron_df.to_csv("Output/iron.csv", index=False, header = True)

In [11]:
executable_path = {'executable_path': ChromeDriverManager().install()}
browser = Browser('chrome', **executable_path, headless=False)

In [12]:
copper_url = 'https://oec.world/en/profile/bilateral-product/copper-ore/reporter/aus'
browser.visit(copper_url)
html = browser.html
soup = BeautifulSoup(html, "html.parser")
country_list = []
text_area = soup.find("p", class_="cp-section-paragraph cp-multi-column-section-paragraph")
paragragh =  text_area.text
links = text_area.find_all("a")
for link in links:
    country_list.append(link.text)
browser.quit()
country_list1 = country_list[-5:]
data = []
for ix, char in enumerate(paragragh):
    if char == '(':
        data.append(paragragh[ix+2 : ix+6])
copper_df = pd.DataFrame({"Country":country_list1, "Export value $USB": data})
copper_df["Export value $USB"] = copper_df["Export value $USB"].replace({"656M": "0.656", "212M": "0.212", "150M":"0.150"})
copper_df

            Country Export value $USB
0            China               1.38
1            Japan               1.13
2      South Korea              0.656
3            India              0.212
4   Chinese Taipei              0.150

In [13]:
copper_df.to_csv("Output/copper.csv", index=False, header = True)

In [14]:
executable_path = {'executable_path': ChromeDriverManager().install()}
browser = Browser('chrome', **executable_path, headless=False)

In [15]:
lead_url = 'https://oec.world/en/profile/bilateral-product/lead-ore/reporter/aus'
browser.visit(lead_url)
html = browser.html
soup = BeautifulSoup(html, "html.parser")
country_list = []
text_area = soup.find("p", class_="cp-section-paragraph cp-multi-column-section-paragraph")
paragragh =  text_area.text
links = text_area.find_all("a")
for link in links:
    country_list.append(link.text)
browser.quit()
country_list1 = country_list[-5:]
data = []
for ix, char in enumerate(paragragh):
    if char == '(':
        data.append(paragragh[ix+2 : ix+6])
lead_df = pd.DataFrame({"Country":country_list1, "Export value $USM": data})
lead_df["Export value $USM"] = lead_df["Export value $USM"].replace({"290M": "290", "169M": "169", "249)":"0.000249"})
lead_df

            Country Export value $USM
0      South Korea                290
1            China                169
2            Japan               68.9
3   Chinese Taipei               10.5
4            Chile           0.000249

In [16]:
lead_df.to_csv("Output/lead.csv", index=False, header = True)

In [17]:
executable_path = {'executable_path': ChromeDriverManager().install()}
browser = Browser('chrome', **executable_path, headless=False)

In [18]:
zinc_url = 'https://oec.world/en/profile/bilateral-product/zinc-ore/reporter/aus'
browser.visit(zinc_url)
html = browser.html
soup = BeautifulSoup(html, "html.parser")
country_list = []
text_area = soup.find("p", class_="cp-section-paragraph cp-multi-column-section-paragraph")
paragragh =  text_area.text
links = text_area.find_all("a")
for link in links:
    country_list.append(link.text)
browser.quit()
country_list1 = country_list[-5:]
print(country_list1)
data = []
for ix, char in enumerate(paragragh):
    if char == '(':
        data.append(paragragh[ix+2 : ix+6])
zinc_df = pd.DataFrame({"Country":country_list1, "Export value $USM": data})
zinc_df["Export value $USM"] = zinc_df["Export value $USM"].replace({"817M": "817", "293M": "293", "71M)":"71"})
zinc_df

[' China ', ' South Korea ', ' Japan ', ' Spain ', ' Germany ']

         Country Export value $USM
0         China                817
1   South Korea                293
2         Japan               85.1
3         Spain                 71
4       Germany               54.7

In [19]:
zinc_df.to_csv("Output/zinc.csv", index=False, header = True)

In [20]:
executable_path = {'executable_path': ChromeDriverManager().install()}
browser = Browser('chrome', **executable_path, headless=False)

In [21]:
nickel_url = 'https://oec.world/en/profile/bilateral-product/nickel-ore/reporter/aus'
browser.visit(nickel_url)
html = browser.html
soup = BeautifulSoup(html, "html.parser")
country_list = []
text_area = soup.find("p", class_="cp-section-paragraph cp-multi-column-section-paragraph")
paragragh =  text_area.text
links = text_area.find_all("a")
for link in links:
    country_list.append(link.text)
browser.quit()
country_list1 = country_list[-5:]
print(country_list1)
data = []
for ix, char in enumerate(paragragh):
    if char == '(':
        data.append(paragragh[ix+2 : ix+6])
nickel_df = pd.DataFrame({"Country":country_list1, "Export value $USM": data})
nickel_df["Export value $USM"] = nickel_df["Export value $USM"].replace({"308M": "308"})
nickel_df

[' China ', ' Norway ', ' Indonesia ', ' Serbia ', ' Malaysia ']

       Country Export value $USM
0       China                308
1      Norway               68.3
2   Indonesia               6.36
3      Serbia               1.63
4    Malaysia               1.18

In [22]:
nickel_df.to_csv("Output/nickel.csv", index=False, header = True)

In [23]:
executable_path = {'executable_path': ChromeDriverManager().install()}
browser = Browser('chrome', **executable_path, headless=False)

In [24]:
manga_url = 'https://oec.world/en/profile/bilateral-product/manganese-ore/reporter/aus'
browser.visit(manga_url)
html = browser.html
soup = BeautifulSoup(html, "html.parser")
country_list = []
text_area = soup.find("p", class_="cp-section-paragraph cp-multi-column-section-paragraph")
paragragh =  text_area.text
links = text_area.find_all("a")
for link in links:
    country_list.append(link.text)
browser.quit()
country_list1 = country_list[-5:]
print(country_list1)
data = []
for ix, char in enumerate(paragragh):
    if char == '(':
        data.append(paragragh[ix+2 : ix+6])
manga_df = pd.DataFrame({"Country":country_list1, "Export value $USM": data})
manga_df["Export value $USM"] = manga_df["Export value $USM"].replace({"882M": "882"})
manga_df

[' China ', ' South Korea ', ' India ', ' Malaysia ', ' Japan ']

         Country Export value $USM
0         China                882
1   South Korea               98.3
2         India               85.8
3      Malaysia               46.5
4         Japan               35.7

In [25]:
manga_df.to_csv("Output/manganese.csv", index=False, header = True)

In [26]:
executable_path = {'executable_path': ChromeDriverManager().install()}
browser = Browser('chrome', **executable_path, headless=False)

In [27]:
tin_url = 'https://oec.world/en/profile/bilateral-product/tin-ores/reporter/aus'
browser.visit(tin_url)
html = browser.html
soup = BeautifulSoup(html, "html.parser")
country_list = []
text_area = soup.find("p", class_="cp-section-paragraph cp-multi-column-section-paragraph")
paragragh =  text_area.text
links = text_area.find_all("a")
for link in links:
    country_list.append(link.text)
browser.quit()
country_list1 = country_list[-4:]
print(country_list1)
data = []
for ix, char in enumerate(paragragh):
    if char == '(':
        data.append(paragragh[ix+2 : ix+6])
tin_df = pd.DataFrame({"Country":country_list1, "Export value $USM": data})
tin_df["Export value $USM"] = tin_df["Export value $USM"].replace({"903k": "0.903"})
tin_df

[' China ', ' Malaysia ', ' Thailand ', ' Singapore ']

       Country Export value $USM
0       China               57.4
1    Malaysia               41.7
2    Thailand               19.6
3   Singapore              0.903

In [28]:
tin_df.to_csv("Output/tin.csv", index=False, header = True)

In [29]:
url = "https://wits.worldbank.org/trade/comtrade/en/country/AUS/year/2019/tradeflow/Exports/partner/ALL/product/283691"
header = {
  "User-Agent": "Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/50.0.2661.75 Safari/537.36",
  "X-Requested-With": "XMLHttpRequest"
}

r = requests.get(url, headers=header)

dfs = pd.read_html(r.text)
metal_df = dfs[0]
country_list = metal_df[5]
country_list1 = country_list[2:7]
print(country_list1)
data = metal_df[6]
data = data[2:7]
s = list(data)
lithium_df = pd.DataFrame({"Country":country_list1, "Export value $USK": s})
lithium_df

2        Singapore
3        Indonesia
4      New Zealand
5         Malaysia
6    United States
Name: 5, dtype: object

         Country Export value $USK
2      Singapore             22.75
3      Indonesia             15.39
4    New Zealand             10.03
5       Malaysia              3.23
6  United States              0.27

In [30]:
lithium_df.to_csv("Output/lithium.csv", index=False, header = True)

In [32]:
import psycopg2
from psycopg2 import Error
from psycopg2.extensions import ISOLATION_LEVEL_AUTOCOMMIT
from sqlalchemy import create_engine
from sqlalchemy import inspect
from config import password


protocol = 'postgresql'
username = 'postgres'
host = 'localhost'
port = 5432
database_name = 'exports_db'


# connecting to postgresql to create a db
connection_string = f'{protocol}://{username}:{password}@{host}:{port}/'
con = psycopg2.connect(connection_string)
con.set_isolation_level(ISOLATION_LEVEL_AUTOCOMMIT)
cur = con.cursor()
cur.execute("drop database if exists exports_db;")
cur.execute("create database exports_db;")
cur.close()

# connecting to db to input data
rds_connection_string = f'{connection_string}{database_name}'
engine = create_engine(rds_connection_string)



try:
    engine.execute("DROP TABLE IF EXISTS lithium")
    engine.execute("DROP TABLE IF EXISTS gold")
    engine.execute("DROP TABLE IF EXISTS silver")
    engine.execute("DROP TABLE IF EXISTS iron_ore")
    engine.execute("DROP TABLE IF EXISTS copper")
    engine.execute("DROP TABLE IF EXISTS lead")
    engine.execute("DROP TABLE IF EXISTS zinc")
    engine.execute("DROP TABLE IF EXISTS nickel")
    engine.execute("DROP TABLE IF EXISTS manganese")
    engine.execute("DROP TABLE IF EXISTS tin")
    
    sql_lithium = '''
    CREATE TABLE lithium(Country VARCHAR (255),"Export value $USK" float );
    '''
    sql_gold = '''
    CREATE TABLE gold(Country VARCHAR (255),"Export value $USB" float );
    '''
    sql_silver = '''
    CREATE TABLE silver(Country VARCHAR (255),"Export value $USM" float );
    '''
    sql_iron_ore = '''
    CREATE TABLE iron_ore(Country VARCHAR (255),"Export value $USB" float );
    '''
    sql_copper = '''
    CREATE TABLE copper(Country VARCHAR (255),"Export value $USB" float );
    '''
    sql_lead = '''
    CREATE TABLE lead(Country VARCHAR (255),"Export value $USM" float );
    '''
    sql_zinc = '''
    CREATE TABLE zinc(Country VARCHAR (255),"Export value $USM" float );
    '''
    sql_nickel = '''
    CREATE TABLE nickel(Country VARCHAR (255),"Export value $USM" float );
    '''
    sql_manganese = '''
    CREATE TABLE manganese(Country VARCHAR (255),"Export value $USM" float );
    '''
    sql_tin = '''
    CREATE TABLE tin(Country VARCHAR (255),"Export value $USM" float );
    '''
    
    engine.execute(sql_lithium)
    engine.execute(sql_gold)
    engine.execute(sql_silver)
    engine.execute(sql_iron_ore)
    engine.execute(sql_copper)
    engine.execute(sql_lead)
    engine.execute(sql_zinc)
    engine.execute(sql_nickel)
    engine.execute(sql_manganese)
    engine.execute(sql_tin)

    
    lith_df = pd.read_csv('Output/lithium.csv')
    lith_df.to_sql('lithium', engine, if_exists= 'replace', index= False)
    print(f'lithiuum dataset has been loaded in PostgreSQL database' )

    gld_df = pd.read_csv('Output/gold.csv')
    gld_df.to_sql('gold', engine, if_exists= 'replace', index= False)
    print(f'gold dataset has been loaded in PostgreSQL database' )

    slv_df = pd.read_csv('Output/silver.csv')
    slv_df.to_sql('silver', engine, if_exists= 'replace', index= False)
    print(f'silver dataset has been loaded in PostgreSQL database' )
    
    iron_ore_df = pd.read_csv('Output/iron.csv')
    iron_ore_df.to_sql('iron_ore', engine, if_exists= 'replace', index= False)
    print(f'iron ore dataset has been loaded in PostgreSQL database' )
    
    cop_df = pd.read_csv('Output/copper.csv')
    cop_df.to_sql('copper', engine, if_exists= 'replace', index= False)
    print(f'copper dataset has been loaded in PostgreSQL database' )

    l_df = pd.read_csv('Output/lead.csv')
    l_df.to_sql('lead', engine, if_exists= 'replace', index= False)
    print(f'lead dataset has been loaded in PostgreSQL database' )
   
    zi_df = pd.read_csv('Output/zinc.csv')
    zi_df.to_sql('zinc', engine, if_exists= 'replace', index= False)
    print(f'zinc dataset has been loaded in PostgreSQL database' )
    
    nkl_df = pd.read_csv('Output/nickel.csv')
    nkl_df.to_sql('nickel', engine, if_exists= 'replace', index= False)
    print(f'nickel dataset has been loaded in PostgreSQL database' )
    
    manganese_df = pd.read_csv('Output/manganese.csv')
    manganese_df.to_sql('manganese', engine, if_exists= 'replace', index= False)
    print(f'manganese dataset has been loaded in PostgreSQL database' )
    
    t_df = pd.read_csv('Output/tin.csv')
    t_df.to_sql('tin', engine, if_exists= 'replace', index= False)
    print(f'tin dataset has been loaded in PostgreSQL database' )
    
except (Exception, Error) as error:
    print("Error while connecting to PostgreSQL", error)

finally:
  engine.dispose()
  print("PostgreSQL connection is closed")

lithiuum dataset has been loaded in PostgreSQL database
gold dataset has been loaded in PostgreSQL database
silver dataset has been loaded in PostgreSQL database
iron ore dataset has been loaded in PostgreSQL database
copper dataset has been loaded in PostgreSQL database
lead dataset has been loaded in PostgreSQL database
zinc dataset has been loaded in PostgreSQL database
nickel dataset has been loaded in PostgreSQL database
manganese dataset has been loaded in PostgreSQL database
tin dataset has been loaded in PostgreSQL database
PostgreSQL connection is closed